
@{
    ViewBag.Title = "Apartment";
}

<div style="margin-top: 5%">
    <button type="button" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-plus"></span> Add apartment
    </button>
</div>

<div class="container">
    <h2>Apartments</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Owner</th>
                <th>Apartment</th>
                <th>No of occupants</th>
                <th>Amount of money owed</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Ana Stamin</td>
                <td>ap3(bl1)</td>
                <td>3</td>
                <td>100</td>
                <td>
                    <button type="button" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-pencil"></span> 
                    </button>
                </td>
                <td>
                    <button type="button" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-trash"></span> 
                    </button>
                </td>
            </tr>
            <tr>
                <td>Alin Ieremia</td>
                <td>ap10(bl1)</td>
                <td>1</td>
                <td>200</td>
                <td>
                    <button type="button" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                </td>
                <td>
                    <button type="button" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </td>
            </tr>
            <tr>
                <td>Gigel Xulescu</td>
                <td>ap15(bl1)</td>
                <td>5</td>
                <td>50</td>
                <td>
                    <button type="button" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                </td>
                <td>
                    <button type="button" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
