
@{
    ViewBag.Title = "Contracts";
}



<div style="margin-top: 5%">
    <button type="button" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-plus"></span> Add contract
    </button>
</div>

<div class="container">
    <h2>Contracts</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Supplier</th>
                <th>Contract period</th>
                <th>Services/facilities offered</th>
                <th>Cost(RON)</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Termo Craiova</td>
                <td>01/01/2010-31/12/2020</td>
                <td>heat and hot water</td>
                <td>10 m3</td>
                <td>
                    <button type="button" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                </td>
                <td>
                    <button type="button" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </td>
            </tr>
            <tr>
                <td>Digi</td>
                <td>01/01/2012-31/12/2018</td>
                <td>tv, internet, telephony</td>
                <td>59</td>
                <td>
                    <button type="button" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                </td>
                <td>
                    <button type="button" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </td>
            </tr>
            <tr>
                <td>Water</td>
                <td>01/01/2013-31/12/2025</td>
                <td>cold water</td>
                <td>20 m3</td>
                <td>
                    <button type="button" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                </td>
                <td>
                    <button type="button" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>