@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    President: Pirvu Ion<br />
    Cashier: Popa Oana<br />
    Censor: Matei Georgiana<br />
    Associaton's phone number: 0351 653463<br />

</address>

<address>
    <strong>Email:</strong> <a>association1@email.com</a><br />
</address>