
@{
    ViewBag.Title = "RemainingDebts";
}




<div class="container">
    <h2>Remaining Debts</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Apartment</th>
                <th>Debt to</th>
                <th>Month</th>
                <th>Amount of money owed</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>ap3(bl1)</td>
                <td>electricity</td>
                <td>january</td>
                <td>100</td>
               <td>
                    <button type="button" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </td>
            </tr>
            <tr>
                <td>ap10(bl1)</td>
                <td>gas</td>
                <td>march</td>
                <td>200</td>
                <td>
                    <button type="button" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </td>
            </tr>
            <tr>
                
                <td>ap15(bl1)</td>
                <td>tv</td>
                <td>february</td>
                <td>50</td>
                
                <td>
                    <button type="button" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
